/* Section 1 */
.jumbotron{
    background-image: url('jumbotron.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

ul{
    justify-content: center;
    margin-left: -50px;
}

ul li{
    list-style: none;
    
}

/* Sectiom 2 */
.phone{
    margin-top: 150px;
    margin-left: 30%;
}

.description{
    background-image: url('section2.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -33px;
    height:500px;
    color:white;
    padding-top:250px;
}

.description2{
    background-image: url('sectio3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    padding-top:250px;
}

.description3{
    background-image: url('section4.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    padding-top:250px;
}

.description4{
    background-image: url('section5.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    padding-top:250px;
}

.description5{
    background-image: url('section6.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    padding-top:250px;
}

.description6{
    background-image: url('section8.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    padding-top:250px;
}

.description7{
    background-image: url('section9.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    padding-top:250px;
}

.pricing{
    background-image: url('jumbotron.png');
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.ask{
    text-align: center;
    margin-top: 60px;
}

.footer{
    background-color: blue;
    height: 600px;
    padding-top: 60px;
}




/* Desktop Version */
@media(min-width:992px){
    .phone{
        margin-top: 250px;
        margin-left: 45%;
    }
}